.navbar-text > a {
	color: inherit;
	text-decoration: none;
}
/*Set the body background color to Black*/
body {
    background-color: black;
}

/*Welcome animation*/
#wel{
    font-family: 'Satisfy', cursive;
    font-size:10em;
    text-align: center;
    margin-top: 200px;
    color: white;
}
/*Change opacity of 'Welcome'*/
@keyframes changeopacity
{
from {opacity:0;}
to {opacity:1;}
}

/*Set beginning page's image position,width*/
#pic1{
    left:500px;top:180px;
    position:relative;
    width:350px;
   /* opacity:0;   */ 
    border-radius: 25px;
}
/*Address transform and transition of the image*/
.thumbnail img:hover{
    transform:rotate(360deg);
}
.thumbnail img{
    transition:all 0.6s ease 0s;
}
